doctype html 
html 
    head 
        title Person form
    body 
        h1 Person details 
        form(action="/save",method="post")
        b Name 
        input(type="text",name="name")
        br
        b Age 
        input(type="number",name="age")
        br
        b city 
        input(name="city")
        br
        input (type="sumbit",value="Save Person") 